:root {
  --color-bg: #fffaf0;
  --color: #412f20;
  --snow1: #aed6f1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #412f20;
    --color: #fffaf0;
    --snow1: #e74c3c;
    --snow2: #fff;
  }
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--color-bg);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--color);
  font-size: calc(100% + 0.5vw);
}

body {
  margin: 0;
  padding: 0;
}

main {
  border-top: 5px solid #ec4326;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section,
footer {
  text-align: center;
  padding: 1em;
}

a {
  color: inherit;
}

h1 {
  font-size: 2em;
  font-weight: 900;
}

p {
  max-width: 48ch;
  margin: 1em auto;
  line-height: 1.5;
}

span[role="img"] {
  padding: 0 0.15em;
}
